<!-- Log In Form -->
  <!-- <div class="col s12 m2">
      <p class="z-depth-1">z-depth-1</p>
    </div> -->

  <div class="container s">
    <div class="row">

        <div class="z-depth-1 z-depth-1 col m6">
            <h2 class="center-align">Login</h2>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="text" class="validate">
                            <label for="email">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="pass" type="password" class="validate">
                            <label for="pass">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>
                                <input type="checkbox" id="remember">
                                <label for="remember">Remember me</label>
                            </p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col m12">
                            <p class="right-align">
                                <button class="btn btn-large waves-effect waves-light" type="button" name="action">Login</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Log In Form -->

<!-- User Registration form -->
<div class="container">
  <div class="row">

      <div class="z-depth-1 col m6">
          <h2 class="center-align">Register</h2>
          <div class="row">
              <form class="col s12">

                  <div class="row">
                      <div class="input-field col s12">
                          <input id="email" type="text" class="validate">
                          <label for="email">Username</label>
                      </div>
                  </div>

                  <div class="row">
                      <div class="input-field col s12">
                          <input id="pass" type="password" class="validate">
                          <label for="pass">Password</label>
                      </div>
                  </div>



                  <div class="divider"></div>
                  <div class="row">
                      <div class="col m12">
                          <p class="right-align">
                              <button class="btn btn-large waves-effect waves-light" type="button" name="action">Register</button>
                          </p>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- User Registration form -->

<!-- House Registration/Connect form -->
<div class="container">
  <div class="row">

      <div class="z-depth-1 col m6">
          <h2 class="center-align">Hello!</h2>

          <div class="row">
              <form class="col s12">
                  <div class="row">
                      <div class="col m12">
                          <p class="center-align ">
                            <a class="waves-effect waves-light btn-large"><i class="material-icons left">store</i>Register</a>
                            <a class="waves-effect waves-light btn-large"><i class="material-icons left">language</i>Connect</a>
                          </p>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- House Registration/Connect form -->

<!-- House Registration form -->
<div class="container">
  <div class="row">

      <div class="z-depth-1 col m6">
          <h2 class="center-align">House Registration</h2>
          <div class="row">
              <form class="col s12">

                  <div class="row">
                      <div class="input-field col s12">
                          <input id="email" type="text" class="validate">
                          <label for="email">Address 1</label>
                      </div>
                  </div>

                  <div class="row">
                      <div class="input-field col s12">
                          <input id="pass" type="text" class="validate">
                          <label for="pass">Address 2</label>
                      </div>
                  </div>

                  <div class="row">
                      <div class="input-field col s12">
                          <input id="pass" type="text" class="validate">
                          <label for="pass">City</label>
                      </div>
                  </div>

                  <div class="row">
                      <div class="input-field col s12">
                          <input id="pass" type="text" class="validate">
                          <label for="pass">State</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="pass" type="number" class="validate">
                          <label for="pass">Zipcode</label>
                      </div>
                  </div>


                  <div class="divider"></div>
                  <div class="row">
                      <div class="col m12">
                          <p class="right-align">
                              <button class="btn btn-large waves-effect waves-light" type="button" name="action">Register</button>
                          </p>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- House Registration form -->

<!-- User Registration form -->
<div class="container">
  <div class="row">

      <div class="z-depth-1 col m6">
          <h2 class="center-align">Connect to a House</h2>
          <div class="row">
              <form class="col s12">

                  <div class="row">
                      <div class="input-field col s12">
                          <input id="pass" type="text" class="validate">
                          <label for="pass">House Registration Number</label>
                      </div>
                  </div>



                  <div class="divider"></div>
                  <div class="row">
                      <div class="col m12">
                          <p class="right-align">
                              <button class="btn btn-large waves-effect waves-light" type="button" name="action">Register</button>
                          </p>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- User Registration form -->
