<!-- <h1>VOTES</h1> -->
<div class='row '>
<md-card class='card col offset-s1 s10 offset-m2 m8 offset-l3 l6 animated fadeIn'>
  <h1>NEW VOTE </h1>

  <div class="input-field">
        <input  id="name" type="text" class="validate" [(ngModel)]='voteInfo.name'>
        <label for="name">What are you voting for?</label>
  </div>

  <md-select placeholder="Category" [(ngModel)]='voteInfo.category'>
    <md-option *ngFor="let categorie of categories" [value]="categorie.value">
      {{ categorie.viewValue }}
    </md-option>
  </md-select><br><br>

  <div *ngFor='let option of options;let i = index'>

     <div class="row" hidden>
        <div class="input-field col s10 l11">
              <input  id="Option{{i}}" type="text" class="validate" [(ngModel)]='voteInfo.options[i].name'>
              <label for="Option{{i}}">Option {{i+1}}</label>
        </div>
        <a class="waves-effect waves-red btn-flat fab col s2 l1 center-align" (click)="delete(i)">
           <i class="material-icons text-center" >close</i>
       </a>
    </div>
  </div>

  <br>

  <button md-raised-button class="md-primary white" (click)='addOption()' >
    <span>ADD OPTION</span> <md-icon>add_circle_outline</md-icon>
  </button>

  <br><br>
  <div class='r-btn'><button md-fab (click)='create()' mdTooltip="Create" class='red' >
    <i class="material-icons">add</i>
  </button></div>


</md-card>
</div>
