<h1>VOTES</h1>
<div class='row flex-wrap'>
<md-card class='col-xs-10 col-sm-8 col-md-6'>
  <h1> CREATE NEW VOTE </h1>
  <md-input-container class='vote-name'>
    <input mdInput placeholder="What are you voting for?" value="" >
  </md-input-container>
  <div *ngFor='let option of options;let i = index'>
    <div class='row'>
      <md-radio-button disabled class="hidden-xs"></md-radio-button>
    <md-input-container required>
      <input mdInput placeholder="Vote Option" value="">
    </md-input-container>

      <button md-button (click)="delete(i)" mdTooltip="Delete">
        <md-icon>close</md-icon>
      </button>
    </div>
  </div>
  <br>
  <button md-raised-button class="md-primary" (click)='addOption()' >
    <span>ADD ANOTHER OPTION</span> <md-icon>add_circle_outline</md-icon>
  </button>
  <br><br>
  <button md-fab (click)='create()' mdTooltip="Create" ><md-icon class="md-48">check</md-icon></button>
</md-card>
</div>
