
<div class='error' *ngIf='errorMessage.length > 0'>
  {{errorMessage}}
</div>
<div class="row ">
  <md-card class='card cat-card header col offset-s1 s10 hoverable'>
    <div class='category amb'>
      <h4 class='center-align'>ROOM-8</h4>
    </div>
    <span *ngFor='let roommate of roommates'>
      <span class="chip">
        <img [src]="roommate.img" alt="Contact Person">
        {{roommate.username | uppercase}}
      </span>
    </span>
  </md-card>
</div>

<div class="row">
  <!-- ================================================================== -->

  <div class='col s12 offset-l1 l5'>
    <h3 class='center-align'>VOTES:</h3>
    <div *ngFor='let vote of votes; let i = index'>
      <md-card class='card cat-card col s12 hoverable'>

        <div *ngIf='vote.category == "general"' class='category green'><h4 class='center-align'>{{vote.name}}</h4></div>
        <div *ngIf='vote.category == "chores"' class='category blue'><h4 class='center-align'>{{vote.name}}</h4></div>
        <div *ngIf='vote.category == "fun"' class='category red' ><h4 class='center-align'>{{vote.name}}</h4></div>
        <div class='cat-name'>{{vote.category}} </div>

        <div *ngIf='!vote.votedUsers.includes(user._id)'>

          <form>
            <p *ngFor='let option of vote.options; let j = index' >
              <input name="{{vote._id}}"
              type="radio"
              id="{{option.name}}"
              value='{{j}}'/>
              <label for="{{option.name}}">{{option.name}}</label>
            </p>
          </form>
          <div class='r-btn'><button  md-fab (click)="voteClick(vote._id)" mdTooltip="Submit vote" class='red' >
            <i class="material-icons">send</i>
          </button></div>
        </div>

        <div *ngIf='vote.votedUsers.includes(user._id)'>
            <div *ngFor='let option of vote.options'>
              {{option.name}}
              <span *ngIf='option.votes>0'>
                <!-- ( {{ option.votes / vote.totalVotes  *100 | number:'1.0-1'}} %) -->
                <div class="chart-o" >
                     <div class="chart-i" [ngStyle]="{ 'width.%': option.votes / vote.totalVotes  *100 }"
                      mdTooltip="{{ option.votes / vote.totalVotes  *100 | number:'1.0-1'}} %"></div>
                 </div>
              </span>
              <span *ngIf='option.votes == 0'>
                <div class="chart-o">
                     <div class="chart-i" style="width: 0%"
                      mdTooltip="0 %"></div>
                 </div>
              </span>
            </div>
        </div>
      </md-card>

    </div>
  </div>


  <!-- ================================================================= -->
  <div class='col s12 l5'>
    <h3 class='center-align'>TASKS:</h3>
    <div *ngFor='let task of tasks'>
      <md-card class='card cat-card col s12 hoverable'>

        <div *ngIf='task.category == "general"' class='category green'><h4 class='center-align'>{{task.name}}</h4></div>
        <div *ngIf='task.category == "chores"' class='category blue'><h4 class='center-align'>{{task.name}}</h4></div>
        <div *ngIf='task.category == "fun"' class='category red' ><h4 class='center-align'>{{task.name}}</h4></div>

        <div class='cat-name'>{{task.category}} </div>
        <p class='icon-p'><i class="material-icons">insert_invitation</i>
          {{task.date | date: 'dd MMMM, yyyy'}}</p>

          <div class='r-btn'><button  md-fab (click)="deleteTask(task._id)" mdTooltip="Done with this task" class='red' >
            <i class="material-icons">check</i>
          </button></div>
      </md-card>

    </div>
  </div>

</div>
<!-- ================================================================== -->
<div class='container'>

<div class='row'>

  <div class='col s12 '>
    <div *ngFor='let loan of loans'>
      <md-card class='card loan col s12 amb'>

        <div class='' *ngIf='!loan.currentUserIsReceiver'><h6 class='center-align'>
          You owe {{loan.cost}}$ to
          <span class="chip" *ngIf='loan.receiver'>
            <img [src]="loan.receiver.img" alt="Person">
            {{loan.receiver.username | uppercase}}
          </span>
          for {{loan.name}}
        </h6></div>
        <div class='' *ngIf='loan.currentUserIsReceiver'><h6 class='center-align'>

          <span class="chip" *ngIf='loan.payer'>
            <img [src]="loan.payer.img" alt="Person">
            {{loan.payer.username | uppercase}}
          </span>
          owe you {{loan.cost}}$
          for {{loan.name}}
        </h6></div>

        <!-- <div class='cat-name'>{{loan.category}} </div> -->

      </md-card>

    </div>

  </div>
</div>
</div>
