[type="radio"]:checked + label:after {
border: 2px solid #f44336;
background-color: #f44336;
}
label:hover{
  color: #333;
}
 i{
  display: inline-flex;
  vertical-align: middle;
}

.card{
  position: relative;
  margin-bottom: 20px;
}
.cat-card{
  padding-top: 100px !important;
}
.header{
  padding: 90px 10px 10px 10px !important;
  margin-bottom: 0px;
}

.category{
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 0;
}
.loan{
  background-color: #f44336;
  color: #333;
  padding: 0px 0px 0px 0px !important;
}


@media only screen and (max-width : 1040px) {
.cat-card{
    padding-top: 120px !important;
}
.category{
  height: 100px;
}
}
.red{
  background-color: #f44336;
}
.green{
  background-color: #4caf50;
}
.blue{
  background-color: #2196f3;
}
.amb{
  background-color: #ffc107;
}

h4{
  color:#fff;
  z-index: 1;
}

.cat-name{
  color: white;
  position: absolute;
  top: -15px;
  left: 0;
  text-transform: uppercase;
  transform-origin: bottom left;
  transform: rotate(90deg);
}

.chart-o{
  margin: 3px;
  width: 100%;
  height: 20px;
  background-color: #f9cecb;
}
.chart-i{
  height: 20px;
  background-color: #f44336;
}
