@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
body {
  background: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.md-button.md-fab {
   width : 5.6rem;
   height: 5.6rem;
}

md-icon {
  width : 2.8rem;
  height: 2.8rem;
}
.flex-wrap{
  display: flex;
  justify-content: center;
}
